{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/stylelogin.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/styleregister.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> -->
</head>

<body>
    {% include 'partials/_nav-header.html' %}
    <div class="container" style="width:100vw;min-height:100vh;max-width:none;padding:0;margin:0;">
        <div class="left-panel"></div>
        <div class="right-panel">
            <div class="login-card">
                <h1>Bem-vindo(a)</h1>
                <p class="subtitle">Entre com suas credenciais para continuar</p>
                <div>
                <form action="{% url 'login' %}" method="post">
                    {% include 'partials/_form-fields.html' %}
                    {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% else %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    
                    <a href="{% url 'redefinir_senha' %}" class="forgot-password">Esqueci minha senha</a>

                    <div class="col-12 text-center pt-3">
                        <button class="btn-login" type="submit">Entrar</button>
                        <p class="signup-text">
                        Não tem conta? <a href="{% url 'register' %}">Criar agora</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>