<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esqueci minha senha</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'accounts/css/stylerecover.css' %}">
</head>
<body>
  <!-- Lado azul -->
  <div class="left-side"></div>

  <!-- Lado direito (formulário) -->
  <div class="right-side">
    <div class="form-container">
      <h2>Esqueci minha senha</h2>
      <p class="subtitle">Redefinir sua senha</p>

      <p class="helper">Preencha com o e-mail da sua conta*</p>
      <form action="{% url 'redefinir_senha' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" name="email" placeholder="Meu e-mail" required>
        </div>
        <button type="submit" class="btn">Enviar nova senha</button>
      </form>

      <div class="back-login">
        <a href="{% url 'login' %}">&lt; Voltar para o login</a>
      </div>
    </div>
  </div>
</body>
</html>
